@import "../../../index.scss";

.ListTab {
  width: 100%;
  height: 100%;
  border-collapse: collapse;

  .ListTabHeader {
    .ListTabHeaderRow {
      background-color: $gray200;
      position: sticky;
      height: 50px;
      top: 0;
    }
  }

  .ListTabBody {
    .ListTabBodyRow {
      text-align: center;
      height: 50px;
    }
  }
}

.ListTabBodyRow:nth-child(odd) {
  background-color: white;
}

.ListTabBodyRow:nth-child(even) {
  background-color: $gray100;
}
