@import "../../../index.scss";

.list-table-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;

  .table-data {
    width: 100%;

    .p-datatable-table {
      width: 100%;

      .p-datatable-thead {
        tr {
          th {
            background-color: #e5e7eb;
          }
        }
      }
    }

    .table-number-column,
    .table-capacity-column,
    .table-action-column {
      width: 35%;
      height: 80px;
    }
  }
}