@import "../../../index.scss";

.edit-table-modal,
.add-table-modal, .delete-table-modal {
  width: 400px;
  padding: 2rem;
  position: absolute;
  background-color: #e5e7eb;
  border-radius: 10px;
  top: 220px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;

  .edit-table-form,
  .add-table-form, .delete-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      margin: 0 0 2rem;
    }

    .delete-table-text {
      font-size: 20px;
      // text-align: center;
      margin: 0 0 1.5rem;
    }

    .edit-table-form-input,
    .add-table-form-input {
      width: 100%;
      label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }

      input {
        background-color: $modal-input-background-color;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        border: 1px solid $modal-input-border-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        margin: 0.5rem 0 1.5rem;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .edit-table-form-button,
    .add-table-form-button,
    .delete-table-form-button,
    .edit-table-form-button-close,
    .add-table-form-button-close, .delete-table-form-button-close {
      align-self: center;
      border: none;
      border-radius: 5px;
      background-color: $modal-button-background-color;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      height: 40px;
      margin-top: 1.5rem;
      padding: 0 1.5rem;

      &:hover {
        background-color: $modal-button-hover-background-color;
      }
    }

    .delete-table-form-button, .delete-table-form-button-close {
      width: 125px;
    }
  }
}