@import "../../../index.scss";

.DashboardOptionsRestaurantContainer {
  overflow: hidden;
  position: relative;
  min-width: 510px;
  width: 45%;
  max-height: 45%;
  border: 1px solid black;

  .titleContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    left: -25px;

    .titleIcon {

      font-size: 50px;
      color: #164e63;
    }

    .titleText {
      font-size: 30px;
      font-weight: 600;
      color: #164e63;
    }
  }

  .DashboardOptionsRestaurantForm {
    display: flex;
    flex-direction: column;

    .DashboardOptionsRestaurantFormTextInputContainer {
      margin-bottom: 10px;

      label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      input {
        background-color: $modal-input-background-color;
        box-sizing: border-box;
        width: 50%;
        height: 40px;
        border: 1px solid $modal-input-border-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          background-color: $modal-input-focus-background-color;
          outline: none;
        }

        &:hover {
          box-shadow: 0 0 10px 0 $modal-input-hover-boxshadow-color;
        }
      }
    }


  }

}