/********** VARIABLES **********/

// Colors
$black: #333333;
$white: #ffffff;
$clear: rgba(0, 0, 0, 0);
$red: #dc2626;
$yellow: #fbbf24;
$orange: #f97316;
$green: #059669;
$blue: #2563eb;
$indigo: #3b82f6;
$purple: #8b5cf6;
$pink: #ec4899;
$gray50: #f9fafb;
$gray100: #f3f4f6;
$gray200: #e5e7eb;
$gray300: #d1d5db;
$gray400: #9ca3af;
$gray500: #6b7280;
$gray600: #4b5563;
$gray700: #374151;
$gray800: #1f2937;
$gray900: #111827;
$cyan50: #ecfeff;
$cyan100: #cffafe;
$cyan200: #a5f3fc;
$cyan300: #67e8f9;
$cyan400: #22d3ee;
$cyan500: #06b6d4;
$cyan600: #0891b2;
$cyan700: #0e7490;
$cyan800: #155e75;
$cyan900: #164e63;

// Main colors
$primary-color: $cyan900;
$secondary-color: $cyan800;

// Background colors
$background-color: $gray100;

// Modal colors
$modal-background-color: $gray200;
$modal-input-background-color: $gray50;
$modal-input-border-color: $gray400;
$modal-input-hover-boxshadow-color: $primary-color;
$modal-input-focus-background-color: $white;
$modal-button-background-color: $primary-color;
$modal-button-hover-background-color: $secondary-color;

// Fonts
$primary-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

/********** MAIN STYLE **********/
body {
  margin: 0;
  font-family: $primary-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
}

main {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

p {
  color: $primary-color;
}

a {
  color: $primary-color;
}

a:hover {
  color: $secondary-color;
}

li {
  text-decoration: none;
}

form {
  color: $primary-color;

  label {
    color: $primary-color;
  }

  input {
    color: $primary-color;
  }
}

/********** SIGNIN FORM STYLE **********/
.signin-form-container {
  width: auto;
  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  background-color: $modal-background-color;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 30px;

  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 40px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .signin-form-input {
      width: 100%;
      margin-bottom: 20px;

      label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      input {
        background-color: $modal-input-background-color;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        border: 1px solid $modal-input-border-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          background-color: $modal-input-focus-background-color;
          outline: none;
        }

        &:hover {
          box-shadow: 0 0 10px 0 $modal-input-hover-boxshadow-color;
        }
      }
    }

    .signin-form-input2 {
      margin-top: 5px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      .remember-me-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
      }

      input:hover {
        box-shadow: 0 0 10px 0 $modal-input-hover-boxshadow-color;
      }
    }

    button {
      margin-top: 25px;
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: $modal-button-background-color;
      color: $white;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        background-color: $modal-button-hover-background-color;
      }
    }
  }
}