@import '../../index.scss';

.NotFoundMain {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .NotFoundContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;

    .NotFound404Text {
      color: $black;
      font-size: 6em;
      margin: 0 0 10px 0;
    }

    .NotFoundText {
      color: $black;
      font-size: 16px;
      margin-bottom: 30px;
    }

    .NotFoundButton {
      width: 280px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #164e63;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      & :hover {
        cursor: pointer;
      }
    }
  }
}