@import "../../index.scss";

.DashboardHeader {
  background-color: $gray200;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 8vh;
  margin-left: 4rem;
  padding: 0 15px;
  box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.2);

  .DashboardHeaderLocationContainer {
    width: 250px;
    //margin-left: 4.5rem;

    .HeaderLocation {
      font-size: 22px;
      font-weight: 600;
    }
  }

  .DashboardHeaderDateHomeContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;

    .HeaderDate {
      font-size: 1.25rem;
      margin: 0;
    }
  }
  

  .DashboardHeaderDateContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 250px;

    .HeaderDate {
      font-size: 1.25rem;
      margin: 0;
    }

    .HeaderTime {
      margin: 0;
      font-size: 30px;
      font-weight: 600;
    }
  }

  .DashboardHeaderStatsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 250px;
    //margin-right: 1rem;

    .HeaderStatsTextContainer {
      display: flex;
      gap: 5px;
      p {
        margin: 0;
      }
    }
    .HeaderStatsTextContainer:first-child {
      margin-bottom: 0.5rem;
    }
  }
}


@media only screen and (min-width: 1440px){
  .DashboardHeader {

    .DashboardHeaderStatsContainer {
      //display: flex;
      //flex-direction: row;
      //align-items: center;
      justify-content: flex-end;
      gap: 8px;
      //width: 450px;
  
      .HeaderStatsTextContainer {
        display: flex;
        gap: 5px;
      }

      .HeaderStatsTextContainer:first-child {
        margin-bottom: 0;
      }
    }
  }
}