@import '../../index.scss';

aside {
  position: absolute;
  background-color: $gray800;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 65px;
  height: 100vh;
  box-shadow: 2px 0 3px 2px rgba(0, 0, 0, 0.2);

  div {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}