.DashboardMain {
  // width: 100%;
  .DashboardContent {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .contentTop {
      height: 100%;
      width: 100%;

      .statsTop {
        display: flex;
        justify-content: space-between;
        padding: 2rem 2rem 1rem;

        .time {
          border: 3px solid #164e63;
          border-radius: 5px;
          font-size: 3rem;
          margin: 0;
          padding: 4rem;
        }

        .btnStats {
          background-color: #164e63;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          font-size: 1.25rem;
          height: fit-content;
          padding: 2.5rem;
        }
      }

      .statsBottom {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
        height: max-content;

        .boxStatsTickets,
        .boxStatsTables {
          display: flex;
          justify-content: space-around;
          border: 3px solid #164e63;
          border-radius: 5px;
          cursor: pointer;
          font-size: 1.25rem;
          margin-top: 2rem;
          padding: 1rem;
          height: 75px;
          width: 250px;

          .statsTickets,
          .statsTables {
            color: #164e63;
            span {
              font-size: 1.5rem;
              font-weight: 600;
            }
            p {
              margin: 0;
            }
          }
          .icon {
            font-size: 2.25rem;
            color: #164e63;
          }
        }
      }
    }

    .contentBottom {
      border-top: 3px solid #000;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .open,
      .close {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
        text-align: center;
        width: 500px;

        h2 {
          margin: 0 0 2rem;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;

          button {
            background-color: #164e63;
            border: none;
            border-radius: 8px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            padding: 2rem;
            width: 125px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px){
  .DashboardMain {
    .DashboardContent {
      .contentBottom {
        .open, .close {
          .buttons {
            display: flex;
            justify-content: space-around;
            width: 100%;
          }
        }
      }
    }
  }
  
}