@import "../../index.scss";

.mainMenu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    width: 400px;
    height: 200px;
    border: none;
    border-radius: 5px;
    background-color: $modal-button-background-color;
    color: $white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      background-color: $modal-button-hover-background-color;
    }

    .loadingSpinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-71%, -43%);
    }
  }
}

@media (min-width: 1024px) {
  .mainMenu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;

    button {
      width: 200px;
      height: 100px;
      font-size: 16px;
    }
  }
}