@import "../../../index.scss";

.DashboardOptionsContainer {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-width: 510px;
  width: 45%;
  max-height: 45%;
  //border: 1px solid black;

  .DashboardOptionsTitleContainer {
    display: flex;
    align-items: center;
    height: 50px;
    gap: 15px;

    .DashboardOptionsTitleIcon {
      font-size: 50px;
      color: #164e63;
    }

    .DashboardOptionsTitleText {
      font-size: 30px;
      font-weight: 600;
      color: #164e63;
    }
  }

  .DashboardOptionsForm {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .DashboardOptionsFormTextInputContainer {
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        width: 30%;
        font-size: 16px;
        font-weight: 600;
      }

      input {
        background-color: $modal-input-background-color;
        box-sizing: border-box;
        width: 60%;
        height: 40px;
        border: 1px solid $modal-input-border-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          background-color: $modal-input-focus-background-color;
          outline: none;
        }

        &:hover {
          box-shadow: 0 0 10px 0 $modal-input-hover-boxshadow-color;
        }
      }
    }


  }

}

@media screen and (max-width: 1125px) {
  .DashboardOptionsContainer {
    max-height: 330px;
  }
}