@import "../../index.scss";

.SvgButton {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.SvgTabButton {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
}
