@import "../../../index.scss";

.DashboardPoleSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: auto;
  height: 90%;
  margin: 10px 15px 15px 80px;

  .DashboardPoleHeader {
    background-color: $gray200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 60px;

    .DashboardPoleHeaderButtonContainer {
      display: flex;
      gap: 15px;
      margin-right: 15px;
      padding-left: 10px;
      padding-right: 10px;

      .DashboardPoleHeaderButton {
        display: flex;
        align-items: center;
        gap: 10px;
        width: auto;
        height: 60%;
        padding: 7px 10px;
        border: none;
        border-radius: 2px;
        background-color: $gray300;
        color: $primary-color;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: 0.2s;

        &:hover {
          background-color: $cyan800;
          color: $gray100;
          padding: 9px 11px;
          border-radius: 5px !important;
        }
      }
    }
  }

  .DashboardPoleList {
    position: relative;
    background-color: $gray200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .DashboardPoleFooter {
    background-color: $gray200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;


    .dashboardPoleListModal {
      background-color: $modal-background-color;
      position: fixed;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;
      width: 450px;
      height: auto;
      padding: 25px;
      border-radius: 10px;
      top: 220px;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      transition: all 0.3s ease;

      .dashboardPoleListModalTitle {
        margin: 10px 0;
        text-align: center;
      }

      .dashboardPoleListModalTablesContainer {
        background-color: $gray100;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 5px;
        width: 100%;
        border-radius: 10px;

        .dashboardPoleListModalButton {
          margin: 10px;
          width: 120px;
          height: 70px;
          border: none;
          border-radius: 5px;
          background-color: $gray400;
          color: $white;
          font-size: 20px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background-color: $modal-button-background-color;
          }
        }
      }

      .dashboardPoleListModalButtonContainer {
        display: flex;
        gap: 40px;

        .dashboardPoleListModalButton {
          width: 120px;
          height: 40px;
          border: none;
          border-radius: 5px;
          background-color: $modal-button-background-color;
          color: $white;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background-color: $modal-button-hover-background-color;
          }

          &:active {
            background-color: $modal-button-hover-background-color;
          }
        }
      }
    }
  }

  .dashboardPoleListModalHidden {
    display: none;
  }

  .add-pole-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .add-pole-form-input {
      width: 100%;
      margin-bottom: 20px;

      label {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
      }

      input {
        background-color: $modal-input-background-color;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        border: 1px solid $modal-input-border-color;
        border-radius: 5px;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;

        &:focus {
          background-color: $modal-input-focus-background-color;
          outline: none;
        }

        &:hover {
          box-shadow: 0 0 10px 0 $modal-input-hover-boxshadow-color;
        }
      }
    }
  }

  .ListTabBodyRowActionsButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 5px;
    cursor: pointer;
  }
}