@import "../../../index.scss";

.DashboardStatsSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 90%;
  margin: 10px 15px 15px 80px;

  .DashboardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;

    .DashboardText {
      color: $black;
      font-size: 16px;
      margin-bottom: 40px;
    }

    .DashboardButton {
      width: 280px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #164e63;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      & :hover {
        cursor: pointer;
      }
    }
  }

  .DashboardStatsSectionTabContainer {
    overflow-y: auto;
    width: 100%;
  }
}