@import '../../index.scss';

.HomePage {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .HomePageButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: auto;

    .HomePageButton {
      width: 280px;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #164e63;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;

      & :hover {
        cursor: pointer;
      }
    }
  }
}